[submodule "backend"]
	path = backend
	url = https://github.com/2023-Team-Joon-CheckIt/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/2023-Team-Joon-CheckIt/frontend.git
